
/* Header */
.header {
  height: var(--header-heigt);
  background-image: linear-gradient(0, #fe6232, #f6432e);
}

/* Header sort-bar */
.header__sort-bar{
  position: fixed;
  top: var(--header-heigt);
  left:0;
  right:0;
  height: var(--header-sort-bar-height);
  background-color: var(--white-color);
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}

.header__sort-item{
  flex: 1;
}

.header__sort-item:first-child .header__sort-link::after{
  display: none;
}
.header__sort-item--active .header__sort-link{
  color: var(--main-color);
}

.header__sort-link{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  height: 100%;
  line-height: var(--header-sort-bar-height);
  text-align: center;
  position: relative;
}

.header__sort-link::after{
  content: "";
  position: absolute;
  height: 60%;
  border-left: 1px solid #e5e5e5;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
  display: flex;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-user {
  position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user-menu {
  list-style: none;
  padding: 0;
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  width: 160px;
  background-color: var(--white-color);
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

.header__navbar-user-menu:before {
  content: "";
  display: block;
  position: absolute;
  border-width: 10px 13px;
  right: 11px;
  top: -20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  cursor: pointer;
}

.header__navbar-user::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 10px;
}

/* .header__navbar-user-item {
} */

.header__navbar-user-item--split {
  border-top: 1px solid rgba(0, 0, 0, 0.03);
}

.header__navbar-user-item-link {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.header__navbar-user-item-link {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item-link {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item-link:hover {
  background-color: #f8f8f8;
  color: #00bfa5;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--split::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: #fb9086;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
  margin-left: 5px;
}

.header__navbar-icon {
  font-size: 1.7rem;
  margin: 0 5px;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* Header QR code */
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  top: 118%;
  left: 0;
  padding: 5px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.5s;
  z-index: 1;
}

.header__qr::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 15px;
  left: 0;
  top: -15px;
}

.header__navbar-item--qr:hover .header__qr {
  display: block;
}

.header__qr--img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-evenly;
}

.header__qr-download {
  height: 17px;
}

/* Header notification */
.header__notification {
  display: none;
  width: 400px;
  background-color: var(--white-color);
  position: absolute;
  top: 118%;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  animation: notify ease-in 0.3s;
  will-change: opacity, transform;
  transform-origin: calc(100% - 50px) top;
  border-radius: 2px;
  z-index: 1;
}

@keyframes notify {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notification::after {
  content: "";
  display: block;
  position: absolute;
  border-width: 10px 13px;
  right: 25px;
  top: -20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.header__notification::before {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 15px;
  right: 0;
  top: -16px;
}

.header__notification--header {
  height: 40px;
  user-select: none;
}

.header__notification--header h3 {
  color: #999;
  font-weight: 400;
  margin: 0 0 0 12px;
  font-size: 1.4rem;
  line-height: 40px;
}

.header__notification-list {
  padding-left: 0;
}

.header__notification-item {
  list-style: none;
}

.header__notification-item--viewed {
  background-color: rgba(238, 75, 43, 0.08);
}

.header__notification-item:hover {
  background-color: #f1f1f1;
}

.header__notification-link {
  text-decoration: none;
  display: flex;
  padding: 12px;
  align-items: center;
}

.header_notification-img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.header__notification-info {
  margin-left: 12px;
}

.header__notification-name {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: var(--black-color);
  font-weight: 400;
  line-height: 1.9rem;
}

.header__notification-description {
  display: block;
  font-size: 1.3rem;
  color: #756f6e;
  line-height: 1.6rem;
}

/* .header__notification-footer {
} */

.header__notification-footer-btn {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  display: block;
}

.header__navbar-item:hover .header__notification {
  display: block;
}

/* Header with search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.header__logo {
  width: 200px;
  cursor: pointer;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
}

.header__logo-img {
  width: 146px;
}

.header__search {
  background-color: var(--white-color);
  height: 40px;
  flex: 1;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.header__search-input-container {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 10px;
  border-radius: 2px;
}

.header__search-input-container:focus .header__search-histor {
  display: block;
}

.header__search-history {
  background-color: var(--white-color);
  width: calc(100% - 16px);
  top: calc(100% + 3px);
  left: 0;
  border: 1px solid var(--border-color);
  position: absolute;
  border-radius: 2px;
  box-shadow: 0 1px 5px #999;
  display: none;
  z-index: 1;
}

.header__search-history-heading {
  font-size: 1.4rem;
  padding: 10px;
  color: rgba(0, 0, 0, 0.25);
  margin: 0;
}

.header__search-history-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__search-history-item {
  padding: 0 10px;
  cursor: pointer;
  user-select: none;
  height: 38px;
}

.header__search-history-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 38px;
}

.header__search-history-item:hover {
  background-color: #fbfbfb;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}

.header__search-select {
  border-left: 1px solid var(--border-color);
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-select-label {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 20px;
}

.header__search-select-icon {
  color: var(--text-color);
  font-size: 1.4rem;
  margin: 0 8px 0 12px;
}

.header__search-option {
  position: absolute;
  right: 0;
  top: calc(100% + 3px);
  width: 125px;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  padding-left: 0;
  overflow: hidden;
  display: none;
  z-index: 1;
}

.header__search-select::before {
  content: "";
  display: block;
  height: 50px;
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 10px 8px;
}

.header__search-option-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
  background-color: #fbfbfb;
  cursor: pointer;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-item i {
  color: var(--main-color);
  font-size: 1.2rem;
  margin-left: 12px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}
.header__search-btn {
  outline: none;
  border: none;
  background-color: var(--main-color);
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
}

.header__search-btn:hover {
  background-color: #fb6548;
  cursor: pointer;
}

.header__search-btn-icon {
  font-size: 1.5rem;
  color: var(--white-color);
}

.header__cart {
  width: 150px;
  text-align: center;
}

.header_cart-containter {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
}

.header_cart_notice {
  position: absolute;
  padding: 1px 7px;
  background-color: var(--white-color);
  font-size: 1.4rem;
  color: var(--main-color);
  top: -10px;
  right: -12px;
  border-radius: 10px;
  line-height: 1.4rem;
  border: 2px solid #ee4d2d;
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 2.4rem;
}

.header_cart-containter:hover .header__cart-list {
  display: block;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 10px);
  right: -3px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 2px 10px #ccc;
  box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
  display: none;
  cursor: default;
  z-index: 1;
}

.header__cart-list:after {
  content: "";
  display: block;
  position: absolute;
  border-width: 10px 13px;
  right: 11px;
  top: -20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  cursor: pointer;
}

.header__cart-list--no-cart {
  padding: 20px;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-mess {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header__cart-quantity .header_cart_notice {
  display: block;
}

.header__cart-list--no-cart .header__cart-list-item,
.header__cart-list--no-cart .header__cart-heading,
.header__cart-list--no-cart .header__cart-view {
  display: none;
}

.header__cart-no-cart-img {
  width: 60%;
  display: none;
}

.header__cart-no-cart-mess {
  display: none;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 20px;
}

.header__cart-heading {
  text-align: left;
  margin: 10px 0 10px 8px;
  font-size: 1.4rem;
  color: #999;
}

.header__cart-list-item {
  list-style: none;
  padding-left: 0;
  max-height: 50vh;
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  padding: 8px;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-item-img {
  width: 44px;
  height: 44px;
  border: 1px solid var(--border-color);
}

.header__cart-item-info {
  width: 100%;
  margin-left: 12px;
  overflow: hidden;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: text;
}

.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header__cart-item-price-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__cart-item-price {
  font-size: 1.4rem;
  color: var(--main-color);
  font-weight: 500;
}

.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 2px;
  color: #757575;
}

.header__cart-item-quantity {
  color: #757575;
  font-size: 1.2rem;
}

.header__cart-item-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.header__cart-item-description {
  color: #757575;
  font-size: 1.3rem;
  cursor: text;
}

.header__cart-item-remove {
  color: var(--text-color);
  font-size: 1.4rem;
}

.header__cart-item-remove:hover {
  color: var(--main-color);
  cursor: pointer;
}

.header__cart-view {
  float: right;
  margin: 0 8px 10px 0;
}

.header__cart-view:hover {
  background-color: #f05d41;
}

/* Auth modal */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 2px;
  overflow: hidden;
}

.auth-form___container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}

.auth-form__heading {
  font-size: 2.1rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: pointer;
}

.auth-form__form {
  margin-top: 30px;
}

/* .auth-form___group {
} */

.auth-form___input {
  width: 100%;
  margin-bottom: 16px;
  height: 40px;
  padding: 0 12px;
  font-size: 1.3rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form___input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: -5px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
}

.auth-form__policy-link {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #999;
}

.auth-form__help-link--main {
  color: var(--main-color);
  font-weight: 500;
}

.auth-form__help-link--split {
  display: block;
  border-left: 1px solid var(--border-color);
  height: 17px;
  margin: 0 16px;
}

.auth-form__controls {
  margin-top: 90px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__control-back {
  margin-right: 8px;
}

.auth-form__socials {
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 14px 36px;
  display: flex;
  justify-content: space-between;
}

.auth-form__socials-icon {
  font-size: 1.7rem;
  padding: 0 8px;
}

.auth-form__socials--facebook {
  background-color: #3f5793;
  color: var(--white-color);
}

.auth-form__socials--google {
  color: #666;
  margin-left: 10px;
  background-color: var(--white-color);
}

.auth-form__socials-title {
  margin: 0 20px 0 30px;
}

/* App container */
.app__container {
  background-color: #f5f5f5;
}

.app_content {
  padding-top: 36px;
}

/* Category */
.category {
  background-color: var(--white-color);
}

.category__heading {
  font-size: 1.7rem;
  padding: 12px 16px;
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
  margin-right: 8px;
  font-size: 1.4rem;
}

.category-list {
  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-left: 8px;
}

/* .category-item {

} */

.category-item--active .category-item__link {
  color: var(--main-color);
}

.category-item--active .category-item__link::before {
  content: "";
  position: absolute;
  border: 4px solid;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--main-color);
  cursor: pointer;
}

.category-item__link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  display: block;
  padding: 12px 16px;
  transition: right linear 0.1s;
  right: 0;
}

.category-item__link:hover {
  color: var(--main-color);
  right: -4px;
}

/* Filter */
.home-filter {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 12px 22px;
  border-radius: 2px;
}

.home-filter__sort-by {
  color: #555555;
  font-size: 1.4rem;
  margin-right: 16px;
}

.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}

.select-input__icon {
  color: var(--text-color);
  font-size: 1.4rem;
}

.select-input__label {
  font-size: 1.4rem;
}

.select-input__option-list {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  padding: 0;
  list-style: none;
  display: none;
  border-radius: 2px;
  margin: 0;
  z-index: 1;
}

.select-input::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  top: calc(100% - 4px);
  left: 0;
}

.select-input:hover .select-input__option-list {
  display: block;
}

.select-input-option-item {
  padding: 12px 16px;
  font-size: 1.4rem;
}

.select-input-option-item:hover {
  color: var(--main-color);
  cursor: pointer;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__page-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 20px;
}

.home-filter__page-current {
  color: var(--main-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  width: 72px;
  height: 36px;
  display: flex;
  box-shadow: 0 1px 2px #e0e0e0;
}

.home-filter__page-btn {
  flex: 1;
  display: flex;
  background-color: var(--white-color);
  text-decoration: none;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__page-btn--disabled {
  background-color: #f9f9f9;
  cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #ccc;
}

.home-filter__page-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}

/* Product item */
/* .home-product{
} */

.home-product-item {
  background-color: var(--white-color);
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.2s;
  will-change: transform; 
  display: block;
  text-decoration: none;
}


.home-product-item:hover{
  transform: translateY(-5px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
  padding-top: 100%;
  background-size: contain;
  background-position: center;
  transition: transform linear 0.2s;
}

.home-product-item__name {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 8px 10px;
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  font-size: 1.4rem;
}

.home-product-item__price-old {
  text-decoration: line-through;
  margin-left: 10px;
  color: #666;
}

.home-product-item__price-current {
  margin-left: 10px;
  color: var(--main-color);
}

.home-product-item__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 10px;
}

.home-product-item__like {
  font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
  display: none;
  color: red;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__rating {
  font-size: 1rem;
  transform: scale(0.9);
  transform-origin: right;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 4px;
}

.home-product-item__star--gold {
  color: var(--star-gold);
}

.home-product-item__origin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  font-size: 1.2rem;
  color: #595959;
  font-weight: 300;
  padding-bottom: 8px;
}

/* .home-product-item__brand {

}

.home-product-item__title {
} */

.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--main-color);
  background-color: currentColor; 
  font-size: 1.2rem;
  font-weight: 500;
  padding-right: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favourite span{
  color: var(--white-color);
}

.home-product-item__favourite::before{
  display: block;
  content: "";
  position: absolute;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
  left: 0;
  bottom: -3px;
}

.home-product-item__favourite i{
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
  color: var(--white-color);
}

.home-product-item__sale-off {
  position: absolute;
  right: 0;
  top: 0;
  height: 36px;
  width: 40px;
  background-color: #FCD333;
  text-align: center;
}

.home-product-item__sale-off::before{
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent #FCD333 transparent  #FCD333;
}

.home-product-item__sale-off-percent {
  color: #EE4D2E;
  font-weight: 600;
  font-size: 1.3rem;
  display: block;
  margin-top: 3px;
}

.home-product-item__sale-off-label {
  font-size: 1.3rem;
  color: var(--white-color);
}

.home-product--pagination{
  margin: 40px 0 60px 0;
}
